# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/
ENV/
_internal/

# Distribution / packaging
dist/
build/
*.egg-info/
*.zip
*.tar.gz

# macOS artifacts
.DS_Store
.AppleDouble
.LSOverride
._*

# Temporary test files
*.tmp
.temp*
*.download
test_*
